fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
pydantic-settings==2.5.2
email-validator==2.2.0
python-multipart==0.0.9

sqlalchemy==2.0.35
aiosqlite==0.20.0

redis==5.0.8

insightface==0.7.3
onnxruntime==1.19.2
opencv-python-headless==4.10.0.84
numpy==1.26.4
faiss-cpu==1.8.0.post1
Pillow==10.4.0

python-dotenv==1.0.1
